
html, body, h1, p, a, img, ul, li, main, section, nav {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: normal;
    font-size: 100%;
    vertical-align: baseline;
}

:focus {
    outline: 0;
}

body {
    line-height: 1;
    color: black;
    background: white;
}

ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
}

blockquote, q {
    quotes: "" "";
}


:root {
  --primary-color: #009999;
  --link-hover: #006666;
  --text-color: #000;
  --background-color: #fff;
  --spacing-base: 20px;
  --spacing-double: 40px;
  --spacing-triple: 60px;
  --font-family: "Open Sans", sans-serif;
  --font-size-base: 1em;
  --font-size-large: 2em;
  --line-height: 2em;
}


body {
  font-family: var(--font-family);
  font-weight: 300;
  line-height: var(--line-height);
  color: var(--text-color);
  background: var(--background-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover);
}

h1 {
  font-size: var(--font-size-large);
}

#content {
  display: flex;
  margin: var(--spacing-triple) auto;
}

#description {
  margin-right: var(--spacing-double);
}

#photo {
  float: left;
  margin: 0 var(--spacing-double);
}

p,
ul {
  margin-top: var(--spacing-double);
}

li {
  float: left;
  margin-right: var(--spacing-base);
}



@media only screen and (max-width: 480px) {
  #content {
    display: block;
    width: 100%;
    margin: 0;
  }
  
  #photo {
    display: block;
    margin: var(--spacing-base);
  }
  
  #photo img {
    width: 100%;
    height: auto;
  }
  
  #description {
    clear: both;
    margin: var(--spacing-base);
  }
  
  h1 {
    margin-bottom: var(--spacing-base);
  }
  
  p, ul {
    margin: 0;
  }
}