body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 2em;
}
a {
  color: #009999;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h1 {
  font-size: 2em;
}
#content {
  display: flex;
  margin: 60px auto;
}
#description {
  margin-right: 40px;
}
#photo {
  float: left;
  margin: 0 40px;
}
p,
ul {
  margin-top: 40px;
}
li {
  float: left;
  margin-right: 20px;
}

a[href="https://github.com/neilrooney"], a[href="https://www.linkedin.com/in/neil-rooney/"] {
    color: #0056b3; /* Darker blue for better contrast */
    text-decoration: underline; /* Add underline to improve visibility */
}
